#navbar {
    background-color: #131921;
    color: rgb(214, 214, 214);   
}
ul {
    list-style-type: none;
    /* margin:0;
    padding:0; */
}

/* 
.icon {
   flex: 0 0 1.5em
}

.icon{
    font-size: 1.8em;
}
.icon .fa-cart {
    background-image: url("http://localhost:3001/images/cart-white.jpeg");
} */

/* #navbar .multi-level-menu {
    background: red;
}
#navbar .social-menu {
    background: yellow;
} */

.menu-section .mixed-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-section .mixed-menu nav {
    flex: 1 0 auto;
}

.menu-section .multi-level-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-section .multi-level-menu ul li{
   flex: 1 0 auto;
}

.menu-section .social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.menu-section .social-menu ul li{
    flex: 0 0 4em;
}
/* #navbar .mixed-menu ul {
    display: flex;
    justify-content:space-around;
} */