#navbar {
    background-color: #131921;
    color: rgb(214, 214, 214);
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

#navbar .nav-left{
    flex: 1;
}

#navbar .nav-left ul{
    display: flex;
    flex-wrap: wrap;    
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
#navbar .nav-fill{
    flex: 1;
}
#navbar .nav-right{
    flex: 1;
}

#navbar .nav-right ul{
    display: flex;
    flex-wrap: wrap;    
    height: 100%;
    justify-content:flex-end;
    align-items: center;
}

#navbar .navbar-items li {
    display: flex;
    flex: 1 0 auto;
    justify-content:flex-end;
}
.icon {
   flex: 0 0 1.5em
}

.icon{
    font-size: 1.8em;
}
.icon .fa-cart {
    background-image: url("http://localhost:3001/images/cart-white.jpeg");
}